.popup-window {
  position: absolute;
  background-color: rgb(179, 179, 179);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 90%;
  height: 90%;
  margin-left: 5%;
}

.Popup-window-close {
  margin-left: 90%;
  margin-top: -400px;
  position: absolute;
  padding: 2px 10px;
  font-size: x-large;
}

.Popup-window-close:hover {
  cursor: pointer;
  background-color: red;
}

.commentform {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.commentform input, button, textarea {
  padding: 5px;
  margin-top: 10px;
}

